main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  width: 60px;
  height: 60px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  width: 50px;
  height: 40px;
}

.wide {
  width: 70px;
  background-color: azure;
}
